<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">

<resultMap id="productSelectMap" type="product">
		<result property="fileName" 	column="image_file" 		jdbcType="VARCHAR" />
		<result property="manuDate" 	column="manufacture_Day" 	jdbcType="VARCHAR" />
		<result property="price" 		column="price" 				jdbcType="NUMERIC" />
		<result property="prodDetail" 	column="prod_detail" 		jdbcType="VARCHAR" />
		<result property="prodName" 	column="prod_name" 			jdbcType="VARCHAR" />
		<result property="prodNo" 		column="prod_no" 			jdbcType="INTEGER" />
		<result property="regDate" 		column="reg_date" 			jdbcType="DATE" />
		<result property="proTranCode" 	column="tran_status_code"	jdbcType="CHAR" />
	</resultMap>

	<select id="getAutoComplete" parameterType='search' resultMap='productSelectMap'>
	SELECT
						p.prod_no, p.prod_name, p.prod_detail, p.manufacture_Day, p.price, p.image_file,
						p.reg_date, t.tran_status_code
						FROM product p, transaction t
						<where>
							t.prod_no(+) = p.prod_no
							<if test="searchCondition != null">
								<if test="searchCondition==0 and searchKeyword!=''">
									AND p.prod_no LIKE '%'||#{searchKeyword}||'%'
								</if>
								<if test="searchCondition==1 and searchKeyword!=''">
									AND p.prod_name LIKE '%'||#{searchKeyword}||'%'
								</if>
								<if test="searchCondition==3">
									AND t.tran_status_code IS NULL
								</if>
								<if test="searchCondition==4">
									AND t.tran_status_code IN ('2  ')
								</if>
								<if test="searchCondition==5">
									AND t.tran_status_code IN ('3  ')
								</if>
								<if test="searchCondition==6">
									AND t.tran_status_code IN ('4  ')
								</if>
							</if>
				
							<if test="priceSearch">
								<if test="searchKeyword1!=null and searchKeyword2 !=null">
									<if test="searchKeyword1 &lt;= searchKeyword2">
										AND p.price BETWEEN #{searchKeyword1} AND #{searchKeyword2}
									</if>
									<if test="searchKeyword1 &gt;= searchKeyword2">
										AND p.price BETWEEN #{searchKeyword2} AND #{searchKeyword1}
									</if>
									<if test="searchKeyword1 !=null">
										AND p.price &lt;= #{SearchKeyword1};
									</if>
								</if>
							</if>
						</where>
				
						<if test="sorting != null">
							<if test="sorting=='priceASC'">
								ORDER BY p.price
							</if>
							<if test="sorting=='priceDESC'">
								ORDER BY p.price DESC
							</if>
							<if test="sorting=='prodNo'">
								ORDER BY p.prod_no
							</if>
						</if>
						<if test="sorting == null">
							ORDER BY p.prod_no
						</if>
	</select> 

	<!-- SQL : INSERT -->
	<insert id="insertProduct" parameterType="product">
		INSERT
		INTO product( prod_no , prod_name , prod_detail , manufacture_day ,
		price, image_file, reg_date)
		VALUES ( seq_product_prod_no.nextval,
		#{prodName},#{prodDetail:VARCHAR},#{manuDate:VARCHAR},#{price:NUMERIC},#{fileName:VARCHAR},SYSDATE)
	</insert>

	<!-- SQL : SELECT ONE -->
	<select id="findProduct" parameterType="int" resultMap="productSelectMap">
		SELECT
		p.prod_no, p.prod_name, p.prod_detail, p.manufacture_Day,
		p.price, p.image_file, p.reg_date, t.tran_status_code
		FROM product p, transaction t
		WHERE t.prod_no(+) = p.prod_no AND p.prod_no=#{_parameter} IS NULL
	</select>

	<!-- SQL : UPDATE -->
	<update id="updateProduct" parameterType="product">
		UPDATE product
		<trim prefix="SET" prefixOverrides=",">
			<if test="prodName!=null">
			prod_name=#{prodName}
			</if>
			<if test="prodDetail!=null">
			,prod_detail=#{prodDetail}
			</if>
			<if test="manuDate!=null">
			,manufacture_Day=#{manuDate}
			</if>
			<if test="price!=null">
			,price=#{price:NUMERIC}
			</if>
			<if test="fileName!=null">
			,image_file=#{fileName}
			</if>
		</trim>
		WHERE prod_no=#{prodNo}
	</update>

	<!-- SQL : SELECT LIST -->
	<select id="getProductList" parameterType="search" resultMap="productSelectMap">
		SELECT *
		FROM ( SELECT inner_table.* , ROWNUM AS row_seq
				FROM ( SELECT
						p.prod_no, p.prod_name, p.prod_detail, p.manufacture_Day, p.price, p.image_file,
						p.reg_date, t.tran_status_code
						FROM product p, transaction t
						<where>
							t.prod_no(+) = p.prod_no
							<if test="searchCondition != null">
								<if test="searchCondition==0 and searchKeyword!=''">
									AND p.prod_no LIKE '%'||#{searchKeyword}||'%'
								</if>
								<if test="searchCondition==1 and searchKeyword!=''">
									AND p.prod_name LIKE '%'||#{searchKeyword}||'%'
								</if>
								<if test="searchCondition==3">
									AND t.tran_status_code IS NULL
								</if>
								<if test="searchCondition==4">
									AND t.tran_status_code IN ('2  ')
								</if>
								<if test="searchCondition==5">
									AND t.tran_status_code IN ('3  ')
								</if>
								<if test="searchCondition==6">
									AND t.tran_status_code IN ('4  ')
								</if>
							</if>
				
							<if test="priceSearch">
								<if test="searchKeyword1!=null and searchKeyword2 !=null">
									<if test="searchKeyword1 &lt;= searchKeyword2">
										AND p.price BETWEEN #{searchKeyword1} AND #{searchKeyword2}
									</if>
									<if test="searchKeyword1 &gt;= searchKeyword2">
										AND p.price BETWEEN #{searchKeyword2} AND #{searchKeyword1}
									</if>
									<if test="searchKeyword1 !=null">
										AND p.price &lt;= #{SearchKeyword1};
									</if>
								</if>
							</if>
						</where>
				
						<if test="sorting != null">
							<if test="sorting=='priceASC'">
								ORDER BY p.price
							</if>
							<if test="sorting=='priceDESC'">
								ORDER BY p.price DESC
							</if>
							<if test="sorting=='prodNo'">
								ORDER BY p.prod_no
							</if>
						</if>
						<if test="sorting == null">
							ORDER BY p.prod_no
						</if>
						) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
				WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select>


	<!-- SQL : SELECT ROW Count -->
	<select id="getTotalCount" parameterType="search" resultType="int">
		SELECT COUNT(*)
		FROM( SELECT
						p.prod_no, p.prod_name, p.prod_detail, p.manufacture_Day, p.price, p.image_file,
						p.reg_date, t.tran_status_code
						FROM product p, transaction t
						<where>
							t.prod_no(+) = p.prod_no IS NUL				<if test="searchCondition != null">
								<if test="searchCondition == 0 and searchKeyword!=''">
									AND p.prod_no LIKE '%'||#{searchKeyword}||'%'
								</if>
								<if test="searchCondition == 1 and searchKeyword!=''">
									AND p.prod_name LIKE '%'||#{searchKeyword}||'%'
								</if>
								<if test="searchCondition ==3">
									AND t.tran_status_code IS NULL
								</if>s
								<if test="searchCondition ==4">
									AND t.tran_status_code IN ('2 ')
								</if>
								<if test="searchCondition == 5">
									AND t.tran_status_code IN ('3 ')
								</if>
								<if test="searchCondition == 6">
									AND t.tran_status_code IN ('4 ')
								</if>
							</if>
				
							<if test="priceSearch">
								<if test="searchKeyword1!=null and searchKeyword2 !=null">
									<if test="searchKeyword1 &lt;= searchKeyword2">
										AND p.price BETWEEN #{searchKeyword1} AND #{searchKeyword2}
									</if>
									<if test="searchKeyword1 &gt;= searchKeyword2">
										AND p.price BETWEEN #{searchKeyword2} AND #{searchKeyword1}
									</if>
									<if test="searchKeyword1 !=null">
										AND p.price &lt;= #{SearchKeyword1};
									</if>
								</if>
							</if>
						</where>
				
						<if test="sorting != null">
							<if test="sorting=='priceASC'">
								ORDER BY p.price
							</if>
							<if test="sorting=='priceDESC'">
								ORDER BY p.price DESC
							</if>
							<if test="sorting=='prodNo'">
								ORDER BY p.prod_no
							</if>
						</if>
						<if test="sorting == null">
							ORDER BY p.prod_no
						</if>
						) countTable
	</select>

	<update id="deleteProduct" parameterType="int">
		UPDATE product
		<set>
		deleted = '1'
		</set>
		WHERE prod_no=#{_parameter}
	</update>


	 
</mapper>